*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: black;
}
span + span{
    margin: 4rem;
}

/* index.html style */
.logo {}
.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* honing style */
.honing_price {
   width: 20%;
   height: 75%;
   position: absolute;
   top: 15%;
   flex-shrink: 0;
   overflow: hidden;
   overflow-y: scroll;
}
.row {
    display: flex;
    margin: 20px;
}
.column {
    flex: 50%;
}
.instruction {
    position: absolute;
    top: 15%;
    left: 22%;
}
.instruction label{
    border-top-color: white;
}
button{
    position: absolute;
    top: 62%;
    left: 22%;
    
    color: black;
    text-align: center;
    background-color: white;
    padding: 9px 42px;

    border: 2px solid tomato;
    border-radius: 4px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: tomato;
    color: white;
}
.honing_result {
    position: absolute;
    top: 15%;
    left: 55%;
    
    width: 40%;
    height: 45%;
    overflow: hidden;
    overflow-y: scroll;
}
.honing_result textarea {
    width: 100%;
    height: 100%;
    resize: none;
}